Flask==1.1.2
gunicorn==20.0.4
# https://download.pytorch.org/whl/cpu/torch-1.8.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
# https://download.pytorch.org/whl/cpu/torchvision-0.9.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
# https://download.pytorch.org/whl/cpu/torchvision-0.9.1-cp39-cp39-macosx_10_9_x86_64.whl

# http://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
# http://download.pytorch.org/whl/cpu/torchvision-0.9.1%2Bcpu-cp36-cp36m-linux_x86_64.whl


-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.8.0+cpu 
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cpu

fastai
numpy
# torch 
# torchvision